@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
}

:root {
    --dark-blue: #0B2447;
    --mysterious-red: #B31312;
    --around-white: #F0F0F0;
    --circular: 2rem;
    --rounded: 1rem;
}

body {
    padding-top: 2rem;
    max-width: 100vw;
    max-height: 100vh;
    background-color: var(--dark-blue);
    font-family: 'Roboto Condensed', sans-serif;
}
